### Importing Required Libraries

In [1]:
# core Libraries
import numpy as np
import pandas as pd

### Load Dataset

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\katta\anaconda3\envs\project\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\katta\anaconda3\envs\project\lib\site-packages (from openpyxl) (2.0.0)

In [3]:
df = pd.read_excel('C:\\Users\\katta\\OneDrive\\Pictures\\3 years water quality data CL (1).xlsx')
df.head()

,"Water Quality Data of Chandapura Lake, Bengaluru (July 2023 - July 2025)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,Sampling Month,Name of Monitoring location,Use based class,Temperature,Dissolved O2 (mg/L),pH,Conductivity (micro;mho/cm),BOD (mg/L),Nitrate (N) (mg/L),Nitrite (N) (mg/L),...,SAR,Ortho Phosphate (mg/L),Cadmium (mg/L,Copper (mg/L),Lead (mg/L),Chromium (mg/L),Nickel (mg/L),Zinc (mg/L),Iron (mg/L),Manganese (mg/L)
1,2023-01-01 00:00:00,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",…..,0.3(BDL),7.8,1938,98,7.4,NaN,...,3.1,3.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-02-01 00:00:00,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",24,0.3(BDL),7.4,2380,36,7.6,NaN,...,4.7,14.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-03-01 00:00:00,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",24,0.3(BDL),7.19,2552,51,11,NaN,...,5,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-07-01 00:00:00,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",…..,0.3(BDL),7,2390,25,7.3,NaN,...,…..,…..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Understand the dataset

In [4]:
# Dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 46 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Water Quality Data of Chandapura Lake, Bengaluru (July 2023 - July 2025)  24 non-null     object
 1   Unnamed: 1                                                                24 non-null     object
 2   Unnamed: 2                                                                24 non-null     object
 3   Unnamed: 3                                                                24 non-null     object
 4   Unnamed: 4                                                                24 non-null     object
 5   Unnamed: 5                                                                24 non-null     object
 6   Unnamed: 6                                                                24 non-null     object
 7   Unnamed: 7                                                                24 non-null     object
 8   Unnamed: 8                                                                24 non-null     object
 9   Unnamed: 9                                                                17 non-null     object
 10  Unnamed: 10                                                               24 non-null     object
 11  Unnamed: 11                                                               24 non-null     object
 12  Unnamed: 12                                                               2 non-null      object
 13  Unnamed: 13                                                               24 non-null     object
 14  Unnamed: 14                                                               24 non-null     object
 15  Unnamed: 15                                                               24 non-null     object
 16  Unnamed: 16                                                               24 non-null     object
 17  Unnamed: 17                                                               24 non-null     object
 18  Unnamed: 18                                                               24 non-null     object
 19  Unnamed: 19                                                               24 non-null     object
 20  Unnamed: 20                                                               22 non-null     object
 21  Unnamed: 21                                                               24 non-null     object
 22  Unnamed: 22                                                               24 non-null     object
 23  Unnamed: 23                                                               24 non-null     object
 24  Unnamed: 24                                                               18 non-null     object
 25  Unnamed: 25                                                               24 non-null     object
 26  Unnamed: 26                                                               18 non-null     object
 27  Unnamed: 27                                                               24 non-null     object
 28  Unnamed: 28                                                               24 non-null     object
 29  Unnamed: 29                                                               24 non-null     object
 30  Unnamed: 30                                                               22 non-null     object
 31  Unnamed: 31                                                               24 non-null     object
 32  Unnamed: 32                                                               24 non-null     object
 33  Unnamed: 33                                                               24 non-null     object
 34  Unnamed: 34                                                               24 non-null     object
 35  Unnamed: 35                                                               23 non-null     object
 36  Unnamed: 36                                                               23 non-null     object
 37  Unnamed: 37                                                               23 non-null     object
 38  Unnamed: 38                                                               5 non-null      object
 39  Unnamed: 39                                                               5 non-null      object
 40  Unnamed: 40                                                               5 non-null      object
 41  Unnamed: 41                                                               5 non-null      object
 42  Unnamed: 42                                                               5 non-null      object
 43  Unnamed: 43                                                               5 non-null      object
 44  Unnamed: 44                                                               5 non-null      object
 45  Unnamed: 45                                                               5 non-null      object
dtypes: object(46)
memory usage: 8.8+ KB

In [5]:
# Statistical summary
df.describe()

,"Water Quality Data of Chandapura Lake, Bengaluru (July 2023 - July 2025)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
count,24,24,24,24,24,24.0,24,24,24.0,17,...,23,23,5,5,5,5,5,5,5,5
unique,24,2,3,9,12,15.0,24,20,23.0,11,...,20,23,3,3,3,4,5,5,5,5
top,Sampling Month,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",…..,0.3(BDL),6.9,Conductivity (micro;mho/cm),45,5.9,0.02(BDL),...,3,Ortho Phosphate (mg/L),0.00042(BDL),0.00035(BDL),0.00031(BDL),0.00056(BDL),Nickel (mg/L),Zinc (mg/L),Iron (mg/L),Manganese (mg/L)
freq,1,23,22,6,12,4.0,1,2,2.0,5,...,3,1,3,3,3,2,1,1,1,1

In [6]:
# fixing column names
df.columns = df.iloc[0]
df = df.iloc[1:]
df.reset_index(drop=True, inplace=True)

In [7]:
df.columns

Index(['Sampling Month', 'Name of Monitoring location', 'Use based class',
       'Temperature', 'Dissolved O2 (mg/L)', 'pH',
       'Conductivity (micro;mho/cm)', 'BOD (mg/L)', 'Nitrate (N) (mg/L)',
       'Nitrite (N) (mg/L)', 'Fecal coliform (MPN/100ml)',
       'Total coliform (MPN/100ml)', 'Fecal streptococci (MPN/100ml)',
       'Carbonate (CO3)', 'Bicarbonate (HCO3)', 'Turbidity (mg/L)',
       'Phenaphthalein Alkalinity (mg/L)', 'Total Alkalinity (mg/L)',
       'Chlorides (mg/L)', 'COD (mg/L)', 'Total Kjedhal Nitogen (mg/L)',
       'Ammonical-N (mg/L)', 'Total Hardness (mg/L)', 'Ca as CaCo3 (mg/L)',
       'Ca', 'Mg as CaCo3 (mg/L)', 'Mg', 'Sulphate (mg/L)', 'Sodium (mg/l)',
       'Total Dissolved Solids (mg/L)', 'Total Suspended Solids (mg/L)',
       'Phosphate (mg/L)', 'Boron (mg/L)', 'Potassium (mg/L)',
       'Fluoride (mg/L)', 'Sodium percentage', 'SAR', 'Ortho Phosphate (mg/L)',
       'Cadmium (mg/L', 'Copper (mg/L)', 'Lead (mg/L)', 'Chromium (mg/L)',
       'Nickel (mg/L)', 'Zinc (mg/L)', 'Iron (mg/L)', 'Manganese (mg/L)'],
      dtype='object', name=0)

In [8]:
# check missing values
df.isnull().sum()

0
Sampling Month                       0
Name of Monitoring location          0
Use based class                      0
Temperature                          0
Dissolved O2 (mg/L)                  0
pH                                   0
Conductivity (micro;mho/cm)          0
BOD (mg/L)                           0
Nitrate (N) (mg/L)                   0
Nitrite (N) (mg/L)                   7
Fecal coliform (MPN/100ml)           0
Total coliform (MPN/100ml)           0
Fecal streptococci (MPN/100ml)      22
Carbonate (CO3)                      0
Bicarbonate (HCO3)                   0
Turbidity (mg/L)                     0
Phenaphthalein Alkalinity (mg/L)     0
Total Alkalinity (mg/L)              0
Chlorides (mg/L)                     0
COD (mg/L)                           0
Total Kjedhal Nitogen (mg/L)         2
Ammonical-N (mg/L)                   0
Total Hardness (mg/L)                0
Ca as CaCo3 (mg/L)                   0
Ca                                   6
Mg as CaCo3 (mg/L)                   0
Mg                                   6
Sulphate (mg/L)                      0
Sodium (mg/l)                        0
Total Dissolved Solids (mg/L)        0
Total Suspended Solids (mg/L)        2
Phosphate (mg/L)                     0
Boron (mg/L)                         0
Potassium (mg/L)                     0
Fluoride (mg/L)                      0
Sodium percentage                    1
SAR                                  1
Ortho Phosphate (mg/L)               1
Cadmium (mg/L                       19
Copper (mg/L)                       19
Lead (mg/L)                         19
Chromium (mg/L)                     19
Nickel (mg/L)                       19
Zinc (mg/L)                         19
Iron (mg/L)                         19
Manganese (mg/L)                    19
dtype: int64

#### Separate numerical& categorical columns

In [9]:
num_cols = df.select_dtypes(include = ["int64","float64"]).columns
cat_cols = df.select_dtypes(include=["object"]).columns
num_cols, cat_cols

(Index([], dtype='object', name=0),
 Index(['Sampling Month', 'Name of Monitoring location', 'Use based class',
        'Temperature', 'Dissolved O2 (mg/L)', 'pH',
        'Conductivity (micro;mho/cm)', 'BOD (mg/L)', 'Nitrate (N) (mg/L)',
        'Nitrite (N) (mg/L)', 'Fecal coliform (MPN/100ml)',
        'Total coliform (MPN/100ml)', 'Fecal streptococci (MPN/100ml)',
        'Carbonate (CO3)', 'Bicarbonate (HCO3)', 'Turbidity (mg/L)',
        'Phenaphthalein Alkalinity (mg/L)', 'Total Alkalinity (mg/L)',
        'Chlorides (mg/L)', 'COD (mg/L)', 'Total Kjedhal Nitogen (mg/L)',
        'Ammonical-N (mg/L)', 'Total Hardness (mg/L)', 'Ca as CaCo3 (mg/L)',
        'Ca', 'Mg as CaCo3 (mg/L)', 'Mg', 'Sulphate (mg/L)', 'Sodium (mg/l)',
        'Total Dissolved Solids (mg/L)', 'Total Suspended Solids (mg/L)',
        'Phosphate (mg/L)', 'Boron (mg/L)', 'Potassium (mg/L)',
        'Fluoride (mg/L)', 'Sodium percentage', 'SAR', 'Ortho Phosphate (mg/L)',
        'Cadmium (mg/L', 'Copper (mg/L)', 'Lead (mg/L)', 'Chromium (mg/L)',
        'Nickel (mg/L)', 'Zinc (mg/L)', 'Iron (mg/L)', 'Manganese (mg/L)'],
       dtype='object', name=0))

In [10]:
# Recheck missing values
df.isnull().sum()

0
Sampling Month                       0
Name of Monitoring location          0
Use based class                      0
Temperature                          0
Dissolved O2 (mg/L)                  0
pH                                   0
Conductivity (micro;mho/cm)          0
BOD (mg/L)                           0
Nitrate (N) (mg/L)                   0
Nitrite (N) (mg/L)                   7
Fecal coliform (MPN/100ml)           0
Total coliform (MPN/100ml)           0
Fecal streptococci (MPN/100ml)      22
Carbonate (CO3)                      0
Bicarbonate (HCO3)                   0
Turbidity (mg/L)                     0
Phenaphthalein Alkalinity (mg/L)     0
Total Alkalinity (mg/L)              0
Chlorides (mg/L)                     0
COD (mg/L)                           0
Total Kjedhal Nitogen (mg/L)         2
Ammonical-N (mg/L)                   0
Total Hardness (mg/L)                0
Ca as CaCo3 (mg/L)                   0
Ca                                   6
Mg as CaCo3 (mg/L)                   0
Mg                                   6
Sulphate (mg/L)                      0
Sodium (mg/l)                        0
Total Dissolved Solids (mg/L)        0
Total Suspended Solids (mg/L)        2
Phosphate (mg/L)                     0
Boron (mg/L)                         0
Potassium (mg/L)                     0
Fluoride (mg/L)                      0
Sodium percentage                    1
SAR                                  1
Ortho Phosphate (mg/L)               1
Cadmium (mg/L                       19
Copper (mg/L)                       19
Lead (mg/L)                         19
Chromium (mg/L)                     19
Nickel (mg/L)                       19
Zinc (mg/L)                         19
Iron (mg/L)                         19
Manganese (mg/L)                    19
dtype: int64

In [11]:
# chack duplicated rows
df.duplicated().sum()

0

In [12]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [13]:
# convert numeric columns properly
df[num_cols] = df[num_cols].apply(pd.to_numeric,errors="coerce")

In [14]:
# Handle outliers (IQR Methods)
for col in num_cols :
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3-Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df[col] = df[col].clip(lower, upper)

In [15]:
# Final dataset summary
df.describe()

,Sampling Month,Name of Monitoring location,Use based class,Temperature,Dissolved O2 (mg/L),pH,Conductivity (micro;mho/cm),BOD (mg/L),Nitrate (N) (mg/L),Nitrite (N) (mg/L),...,SAR,Ortho Phosphate (mg/L),Cadmium (mg/L,Copper (mg/L),Lead (mg/L),Chromium (mg/L),Nickel (mg/L),Zinc (mg/L),Iron (mg/L),Manganese (mg/L)
count,23,23,23,23,23,23.0,23,23,23.0,16,...,22,22.00,4,4,4,4,4.00,4.000,4.000,4.000
unique,23,1,2,8,11,14.0,23,19,22.0,10,...,19,22.00,2,2,2,3,4.00,4.000,4.000,4.000
top,2023-01-01 00:00:00,Chandapura lake,"E (Irrigation, Industrial cooling & Controlled...",…..,0.3(BDL),6.9,1938,28,5.9,0.02(BDL),...,3,3.57,0.00042(BDL),0.00035(BDL),0.00031(BDL),0.00056(BDL),0.03,0.009,0.082,0.245
freq,1,23,22,6,12,4.0,1,2,2.0,5,...,3,1.00,3,3,3,2,1.00,1.000,1.000,1.000

In [16]:
df.to_csv(
    r"C:\Users\katta\Chandapur_Lake_Water_Quality_Prediction\outputs\cleaned_chandapur_lake_water_quality.csv",
    index=False
)